/* Common styles */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
  padding: 0;
  margin: 0;
  border: 0;
}

html,
body,
header,
main,
footer {
  display: block;
}

html {
  font-size: 10px;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
}

body {
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.2;
  min-width: 320px;
  overflow-x: hidden;
  background-color: #f7f7f7;
}

@media only screen and (max-width: 320px) {
  body {
    overflow-x: auto;
  }
}

/* Generate font style classes */
._body {
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.2;
}

._h1 {
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 2.8rem;
  font-style: normal;
  font-weight: bolder;
  line-height: 1.5;
}

._h2 {
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: bolder;
  line-height: 1.2;
}

/* Fonts */
@font-face {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/SourceSansPro/source-sans-pro-v11-cyrillic_latin-regular.woff2) format("woff2"), url(../fonts/SourceSansPro/source-sans-pro-v11-cyrillic_latin-regular.woff) format("woff");
}

@font-face {
  font-family: "Source Sans Pro";
  font-weight: 600;
  font-style: normal;
  src: url(../fonts/SourceSansPro/source-sans-pro-v11-cyrillic_latin-600.woff2) format("woff2"), url(../fonts/SourceSansPro/source-sans-pro-v11-cyrillic_latin-600.woff) format("woff");
}

@font-face {
  font-family: "Source Sans Pro";
  font-weight: 600;
  font-style: italic;
  src: url(../fonts/SourceSansPro/source-sans-pro-v11-cyrillic_latin-600italic.woff2) format("woff2"), url(../fonts/SourceSansPro/source-sans-pro-v11-cyrillic_latin-600italic.woff) format("woff");
}

@font-face {
  font-family: "Exo 2";
  font-weight: normal;
  font-style: normal;
  src: url(../fonts/exo-2/Exo2.0-Thin.woff2) format("woff2"), url(../fonts/exo-2/Exo2.0-Thin.woff) format("woff");
}

@font-face {
  font-family: "Trebuchet MS";
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/trebuchet-ms/TrebuchetMS-Regular.woff2) format("woff2"), url(../fonts/trebuchet-ms/TrebuchetMS-Regular.woff) format("woff");
}

@font-face {
  font-family: "Trebuchet MS";
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/trebuchet-ms/TrebuchetMS-Bold.woff2) format("woff2"), url(../fonts/trebuchet-ms/TrebuchetMS-Bold.woff) format("woff");
}

/* a */
a {
  color: #00a5ff;
}

a:hover {
  color: #f00;
}

/* page */
.page {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  min-height: 100vh;
  height: 100%;

  /* Remove transition */
}

.page > * {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.page > header {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.page > footer {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.page__container {
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
}

@media only screen and (max-width: 1000px) {
  .page__container {
    max-width: none;
    max-width: initial;
  }
}

.page--not-loaded * {
  -webkit-transition: none !important;
  transition: none !important;
}

/* section */
.section {
  margin: 0 auto 2rem;
}

@media only screen and (max-width: 1000px) {
  .section {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.section__content {
  padding: 1rem 2rem;
  background-color: #fff;
}

.section__content--transparent {
  background: none;
}

/* svg */
.__inline-svg {
  display: none;
}

.svg--loading {
  background-color: #f6f8fa;
}

/* menu */
.menu,
.sub-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  list-style: none;
  background-color: #e5eef5;
}

.menu__item,
.sub-menu__item {
  position: relative;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.menu__item--active,
.sub-menu__item--active {
  background-color: #ffe2a3;
}

.menu__item:not(:last-child),
.sub-menu__item:not(:last-child) {
  border-right: 1px solid #d0dce1;
}

.menu__item:not([class$=__item--active]):hover,
.sub-menu__item:not([class$=__item--active]):hover {
  background-color: #f1f6f9;
}

.menu__item:hover > .sub-menu,
.sub-menu__item:hover > .sub-menu {
  visibility: visible;
  -webkit-animation: showSubMenu 0.225s cubic-bezier(0.175, 0.885, 0.32, 1.1);
  animation: showSubMenu 0.225s cubic-bezier(0.175, 0.885, 0.32, 1.1);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.menu__link,
.sub-menu__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #20374a;
  text-decoration: none;
  padding: 2.5rem;
}

.menu__link:hover,
.sub-menu__link:hover {
  color: #20374a;
}

.menu__link--active,
.sub-menu__link--active {
  font-weight: 600;
  color: #2b3a42;
}

.menu__link--has-child > [class$='__link-arrow'],
.sub-menu__link--has-child > [class$='__link-arrow'] {
  display: block;
}

.menu__icon,
.sub-menu__icon {
  position: relative;
  width: 30px;
  height: 20px;
  padding-right: 0.5em;
}

.menu__icon > svg > use,
.sub-menu__icon > svg > use {
  fill: #20374a;
}

.menu__icon--active > svg > use,
.sub-menu__icon--active > svg > use {
  fill: #2b3a42;
}

.menu__text,
.sub-menu__text {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.menu__link-arrow,
.sub-menu__link-arrow {
  display: none;
  width: 8px;
  height: 8px;
  margin-left: 10px;
  border: 2px solid #2b3a42;
  border-radius: 1px;
  border-top-width: 0;
  border-left-width: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.sub-menu {
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  left: 0;
  min-width: 100%;
  visibility: hidden;
  -webkit-animation: hideSubMenu 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.1);
  animation: hideSubMenu 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.1);
  -webkit-transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.1);
  transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.1);
}

.sub-menu__item:not(:last-child) {
  border-right: 0;
  border-bottom: 1px solid #d0dce1;
}

.sub-menu__link {
  padding: 1.25rem 2.5rem;
}

.sub-menu__link-arrow {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.sub-menu > .sub-menu__item > .sub-menu {
  left: 100%;
  top: 1px;
}

@-webkit-keyframes showSubMenu {
  from {
    -webkit-transform: translateY(-2rem);
    transform: translateY(-2rem);
    opacity: 0;
  }

  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes showSubMenu {
  from {
    -webkit-transform: translateY(-2rem);
    transform: translateY(-2rem);
    opacity: 0;
  }

  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes hideSubMenu {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }

  to {
    -webkit-transform: translateY(-2rem);
    transform: translateY(-2rem);
    opacity: 0;
  }
}

@keyframes hideSubMenu {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }

  to {
    -webkit-transform: translateY(-2rem);
    transform: translateY(-2rem);
    opacity: 0;
  }
}

/* header */
.header {
  height: 7rem;
}

@media only screen and (max-width: 768px) {
  .header {
    height: 6rem;
    z-index: 2;
    padding: 0;
  }
}

.header__overlay {
  position: fixed;
  content: "";
  z-index: 0;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 100%;
  padding: 0 2rem;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transition: visibility 0.2s ease-out, opacity 0.2s ease-out;
  transition: visibility 0.2s ease-out, opacity 0.2s ease-out;
  top: 6rem;
  left: 0;
}

.header__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  z-index: 3;
  background-color: #e5eef5;
}

@media only screen and (max-width: 768px) {
  .header__container {
    padding: 0 2rem;
  }
}

.header__container--fixed {
  position: fixed;
  width: 100%;
  max-width: 960px;
  z-index: 5;
}

.header__logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  margin-left: 2rem;
  margin-right: 2rem;
}

.header__menu-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  z-index: 1;
}

@media only screen and (max-width: 768px) {
  .header__menu-wrapper {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    height: 6rem;
  }
}

@media only screen and (max-width: 768px) {
  .header__menu {
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    top: 6rem;
    left: 0;
    width: 100%;
    visibility: hidden;
    background-color: #f1f6f9;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  }
}

@media only screen and (max-width: 768px) {
  .header .sub-menu {
    position: relative;
    -webkit-animation: none;
    animation: none;
    visibility: hidden;
    max-height: 0;
    background-color: #fff;
  }

  .header .sub-menu__item:not([class$=__item--active]):not([class$=__item--opened]):hover {
    background-color: transparent;
  }

  .header .sub-menu__link {
    padding: 1.25rem 2.5rem;
  }

  .header .sub-menu__link:hover {
    text-decoration: underline;
  }

  .header .sub-menu > .sub-menu__item > .sub-menu {
    left: 0;
    top: 0;
  }
}

@media only screen and (max-width: 768px) {
  .header .menu__item {
    overflow: hidden;
    border-right: 0;
  }

  .header .menu__item:hover .sub-menu {
    -webkit-animation: none;
    animation: none;
  }

  .header .menu__item--opened {
    background-color: #e5eef5;
  }

  .header .menu__item--opened > .sub-menu {
    visibility: hidden;
  }

  .header .menu__item--opened:hover {
    background-color: #e5eef5;
  }

  .header .menu__item--active {
    background-color: #ffe2a3;
  }

  .header .menu__item--active:hover {
    background-color: #ffe2a3;
  }

  .header .menu__item:not([class$=__item--active]):not([class$=__item--opened]):hover {
    background-color: #e5eef5;
  }
}

@media only screen and (max-width: 768px) {
  .header .menu__link {
    padding: 1.7rem 2.5rem;
  }
}

@media only screen and (max-width: 768px) {
  .header .menu__link-arrow,
  .header .sub-menu__link-arrow {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: -webkit-transform 0.1s ease-out;
    transition: -webkit-transform 0.1s ease-out;
    transition: transform 0.1s ease-out;
    transition: transform 0.1s ease-out, -webkit-transform 0.1s ease-out;
  }
}

@media only screen and (max-width: 768px) {
  .header .menu__item--opened > .menu__link .menu__link-arrow,
  .header .menu__item--opened > .sub-menu__link .sub-menu__link-arrow,
  .header .sub-menu__item--opened > .menu__link .menu__link-arrow,
  .header .sub-menu__item--opened > .sub-menu__link .sub-menu__link-arrow {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.header__menu-btn {
  display: none;
  margin-right: 1rem;
  outline: 0;
  overflow: visible;
  cursor: pointer;
  background-color: transparent;
}

@media only screen and (max-width: 768px) {
  .header__menu-btn {
    display: block;
  }
}

/* menu btn */
.menu-btn {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-color: transparent;
}

.menu-btn:focus {
  outline: 0;
}

.menu-btn:focus::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
}

.menu-btn > * {
  height: 2px;
}

.menu-btn > *::before {
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  content: "";
  background-color: #20374a;
  opacity: 1;
  -webkit-transition-property: opacity, top, -webkit-transform;
  transition-property: opacity, top, -webkit-transform;
  transition-property: transform, opacity, top;
  transition-property: transform, opacity, top, -webkit-transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.25, 0.165, 1.55);
  transition-timing-function: cubic-bezier(0.68, -0.25, 0.165, 1.55);
}

/* Modal close */
.page--modal-closed .header__menu {
  -webkit-animation: hideHeaderMenu 0.2s;
  animation: hideHeaderMenu 0.2s;
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.page--modal-closed .menu__item--opened > .sub-menu {
  visibility: hidden;
  -webkit-transition: visibility 0.2s;
  transition: visibility 0.2s;
  max-height: 0;
}

/* Modal open */
@media only screen and (max-width: 768px) {
  .page--modal-opened {
    z-index: 0;
    max-height: 100%;
    overflow: hidden;
  }
}

@media only screen and (max-width: 768px) {
  .page--modal-opened .menu-btn__top::before {
    top: 12px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .page--modal-opened .menu-btn__middle::before {
    opacity: 0;
  }

  .page--modal-opened .menu-btn__bottom::before {
    top: 12px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

@media only screen and (max-width: 768px) {
  .page--modal-opened .header__overlay {
    visibility: visible;
    opacity: 1;
  }
}

@media only screen and (max-width: 768px) {
  .page--modal-opened .header__container {
    position: absolute;
    width: 100%;
    left: 0;
  }
}

@media only screen and (max-width: 768px) {
  .page--modal-opened .header__container--fixed {
    position: absolute;
  }
}

@media only screen and (max-width: 768px) {
  .page--modal-opened .header__menu {
    visibility: visible;
    -webkit-animation: showHeaderMenu;
    animation: showHeaderMenu;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
  }
}

@media only screen and (max-width: 768px) {
  .page--modal-opened .sub-menu {
    position: relative;
    max-height: 0;
    visibility: visible;
    -webkit-animation: max-height 0.1s ease-out;
    animation: max-height 0.1s ease-out;
  }
}

@media only screen and (max-width: 768px) {
  .page--modal-opened .menu__item:hover > .sub-menu {
    visibility: visible;
  }

  .page--modal-opened .menu__item--opened > .sub-menu {
    visibility: visible;
  }

  .page--modal-opened .menu__item--active > .sub-menu {
    visibility: visible;
  }

  .page--modal-opened .menu__item--opened > .sub-menu .page--modal-opened .menu__item::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

@-webkit-keyframes showHeaderMenu {
  from {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0;
  }

  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes showHeaderMenu {
  from {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0;
  }

  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes hideHeaderMenu {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    visibility: visible;
  }

  to {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes hideHeaderMenu {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    visibility: visible;
  }

  to {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0;
    visibility: hidden;
  }
}

/* footer */
.footer {
  margin-bottom: 0;
}

.footer__row {
  background: none;
  background-color: #d8f1fd;
}

/* main */
.content__header {
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 2.8rem;
  font-style: normal;
  font-weight: bolder;
  line-height: 1.5;
}

.content__description {
  padding: 1rem 0;
}

/* product */
.product {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 320px;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  color: #000;
  font-family: "Trebuchet MS", Arial, sans-serif;
  line-height: 1;
  list-style: none;

  /* States */
}

.product__container {
  position: relative;
  height: 480px;
  padding: 4px;
  border-radius: 12px;
  background-image: linear-gradient(135deg, transparent 30px, #1698d9 30px);
  cursor: pointer;
}

.product__content {
  position: relative;
  height: 100%;
  padding: 20px 45px;
  border-radius: 8px;
  background-image: linear-gradient(135deg, transparent 29px, #f2f2f2 29px);
  overflow: hidden;
}

.product__header {
  margin-top: -1px;
  margin-bottom: 10px;
  color: #666;
  font-size: 16px;
}

.product__header-checked {
  display: none;
  color: #e62e7a;
}

.product__name {
  margin-left: -2px;
  margin-bottom: 4px;
  font-size: 48px;
  font-weight: 700;
}

.product__taste {
  margin-bottom: 17px;
  font-size: 24px;
  font-weight: 700;
}

.product__features {
  margin-bottom: 16px;
  color: #666;
  font-size: 14px;
  line-height: 16px;
  list-style: none;
}

.product__weight-container {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 80px;
  height: 80px;
  right: 11px;
  bottom: 11px;
  overflow: hidden;
  color: #fff;
  background-color: #1698d9;
  border-radius: 50%;
}

.product__weight {
  margin-top: 10px;
  font-size: 42px;
}

.product__unit {
  margin-top: -2px;
  font-size: 21px;
}

.product__image {
  position: absolute;
  left: -26.5px;
  bottom: -91.5px;
}

.product__checkbox {
  position: absolute;
  opacity: 1;
}

.product__footer {
  padding-top: 14px;
  color: #fff;
  text-shadow: 0 1px 0 #000;
  text-align: center;
  font-size: 13px;
  line-height: 16px;
}

.product__footer-checked {
  display: none;
}

.product__footer-disabled {
  display: none;
  color: #ff6;
}

.product__footer-link {
  color: #1698d9;
  text-decoration: none;
  border-bottom: 1px dashed #1698d9;
}

.product__footer-link:hover {
  color: #2ea8e6;
  border-color: #2ea8e6;
}

.product__container:hover {
  background-image: linear-gradient(135deg, transparent 30px, #2ea8e6 30px);
}

.product__container:hover [class$='__weight-container'] {
  background-color: #2ea8e6;
}

.product[data-checked] .product__container {
  background-image: linear-gradient(135deg, transparent 30px, #d91667 30px);
}

.product[data-disabled] .product__container {
  color: #b3b3b3;
  background-image: linear-gradient(135deg, transparent 30px, #b3b3b3 30px);
}

.product[data-disabled] [class$='__weight-container'] {
  background-color: #b3b3b3;
}

.product[data-checked] [class$='__weight-container'] {
  background-color: #d91667;
}

.product[data-checked] [class$='__footer-default'],
.product[data-checked] [class$='__footer-disabled'] {
  display: none;
}

.product[data-checked] [class$='__footer-checked'] {
  display: block;
}

.product[data-checked] .product__container:hover {
  background-image: linear-gradient(135deg, transparent 30px, #e62e7a 30px);
}

.product[data-checked] .product__container:hover [class$='__weight-container'] {
  background-color: #e62e7a;
}

.product[data-checked]:not([data-mouseleave]) .product__container:hover [class$='__header-default'] {
  display: none;
}

.product[data-checked]:not([data-mouseleave]) .product__container:hover [class$='__header-checked'] {
  display: block;
}

.product[data-disabled] [class$='__image'] {
  opacity: 0.5;
}

.product[data-disabled] [class$='__features'],
.product[data-disabled] [class$='__header'] {
  color: #b3b3b3;
}

.product[data-disabled] [class$='__footer-default'],
.product[data-disabled] [class$='__footer-checked'] {
  display: none;
}

.product[data-disabled] [class$='__footer-disabled'] {
  display: block;
}

