.example-png {
  width: 100%;
  background-color: #ffe2a3;
}

.social {
  background: none;
}

.social__header {
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: bolder;
  line-height: 1.2;
}

.social__icons {
  margin-top: 1.14rem;
  margin-bottom: 1.14rem;
}

.social__icons > div {
  display: inline-block;
}

.social__fb {
  background-image: url(../images/sprite.png);
  background-position: 0 0;
  width: 32px;
  height: 32px;
}

.social__tw {
  background-image: url(../images/sprite.png);
  background-position: -32px 0;
  width: 32px;
  height: 32px;
}

/* index */

/* icon from block example-png */
.icon-tw {
  background-image: url(../images/sprite.png);
  background-position: -32px 0;
  width: 32px;
  height: 32px;
  margin-top: 1.14rem;
  margin-bottom: 1.14rem;
}

