mixin example-png()
    section.example-png.section
        .social.page__container.section__content
            .social__header Example of png sprite
            
            .social__icons
                .social__fb
                .social__tw