{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "browsers": ["ie >= 10", "iOS >= 7"]
                }
            }
        ]
    ],
    "plugins": ["transform-object-rest-spread"],
    "ignore": ["node_modules"]
}
