mixin footer()
    footer.footer.section.page__container&attributes(attributes)
        .footer__row.section__content
            div Developed by 
                a(href="https://github.com/fivemru") fivemru